.cadastro-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 87px);
  background-color: transparent;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dropdown-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  width: 100%;
}

.custom-dropdown {
  margin-left: auto;
}

.custom-dropdown .dropdown-toggle {
  background-color: transparent;
  border: none;
  color: #D273FF; /* Cor conforme a imagem fornecida */
  font-size: 1rem;
  padding: 0;
}

.custom-dropdown .dropdown-toggle::after {
  margin-left: 0.5rem;
  vertical-align: middle;
  color: #D273FF; /* Cor conforme a imagem fornecida */
}

.custom-dropdown .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
}

.custom-dropdown .dropdown-item {
  color: white;
}

.custom-dropdown .dropdown-item:hover {
  background-color: #D273FF;
  color: white;
}

.cadastro-container {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 600px;
  border: 2px solid;
  border-image: linear-gradient(to bottom, #D273FF, #8DFD8B) 1;
}

.cadastro-container h2 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  margin-top: 20px;
}

.cadastro-container .form-group {
  position: relative;
  margin-bottom: 20px;
}

.cadastro-container .input-icon {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 2px solid #8DFD8B;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  color: #8DFD8B;
}

.cadastro-container .input-icon input,
.cadastro-container .intl-phone-input input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #8DFD8B;
  font-size: 1rem;
  flex: 1;
}

.cadastro-container .input-icon input::placeholder,
.cadastro-container .intl-phone-input input::placeholder {
  color: #8DFD8B;
}

.cadastro-container .input-icon svg {
  margin-right: 10px;
  color: #8DFD8B;
}

.cadastro-container .btn.btn-primary {
  margin-top: 40px;
}

.cadastro-container .btn {
  width: 100%;
  border-radius: 5px;
  background-color: transparent;
  color: #D273FF;
  font-weight: bold;
  border: 2px solid #D273FF;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.cadastro-container .btn:hover {
  background-color: #D273FF;
  border-color: #D273FF;
  color: white;
}

.input-icon input:focus {
  outline: none;
  box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #8DFD8B;
  box-shadow: 0 0 0px 1000px #191A2E inset;
}

.cadastro-container .login-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cadastro-container .have-account {
  color: white;
}

.cadastro-container .login-link {
  color: #8DFD8B;
  text-decoration: none;
}

.cadastro-container .login-link:hover {
  text-decoration: underline;
}
