/* index.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #191A2E; /* Aplicando a cor de fundo global */
}

#root {
  height: 100%;
}

.App {
  background-color: #191A2E;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
