.list-box{
    background-color: var(--background-color-1);
    padding: 1%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(246, 206, 206, 0.5);
    width: 60%;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    color: white
}

@media (max-width: 1600px){
    .list-box{
        width: 70%;
    }
}

@media (max-width: 1100px){
    .list-box{
        width: 80%;
    }
}

@media (max-width: 800px){
    .list-box{
        width: 90%;
    }
}

.list-skill-box{
    background-color: #28213f;
    border-radius: 8px;
    padding: 1%;
    margin: 2%;
    box-shadow: 0 9px 18px 0 rgba(0,0,0,0.8);
}

.manage-box{
    padding: 20px;
    border-radius: 15px;
    width: 60%;
    background-color: var(--background-color-1);
}