.list-box{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(246, 206, 206, 0.5);
    width: 60%;
    margin: auto;
    border: 2px solid;
    border-image: linear-gradient(to bottom, #D273FF, #8DFD8B) 1;
    color: white;
    padding: 1%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.list-skill-box{
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    padding: 10px;
    margin-bottom: 2%;
}

.list-box .p-message-error{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(246, 206, 206, 0.5);
    border-image: linear-gradient(to bottom, #D273FF, #8DFD8B) 1;
    font-size: larger;
    color: white;
}

.list-box .p-message-icon{
    color: white;
}

.list-box .btn{
    margin-left: 5%;
    margin-right: 5%;
}

.list-box .btn-primary{
    min-width: 8rem;
    border-radius: 5px;
    background-color: transparent;
    color: #00BFFF;
    font-weight: bold;
    border: 2px solid #00BFFF;
    padding: 7px;
}

.list-box .btn-primary:hover{
    background-color: #00BFFF;
    color: white;
}

.list-box .btn-danger{
    min-width: 8rem;
    border-radius: 5px;
    background-color: transparent;
    color: #FF6347;
    font-weight: bold;
    border: 2px solid #FF6347;
    padding: 7px;
}

.list-box .btn-danger:hover{
    background-color: #FF6347;
    color: white;
}

.list-box .btn-success{
    border-radius: 5px;
    background-color: transparent;
    color: #32CD32;
    font-weight: bold;
    border: 2px solid #32CD32;
    padding: 7px;
}

.list-box .btn-success:hover{
    background-color: #32CD32;
    color: white;
}

.p-confirm-popup{
    background-color: #0e102a;
    color: white;
    border: 2px solid;
    border-image: linear-gradient(to bottom, #D273FF, #8DFD8B) 1;
    box-shadow: 0 0 10px rgba(246, 206, 206, 0.5);
}

.p-confirm-popup-footer button{
    color: white;
    border-radius: 10px;
}

.edit-box{
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    border: 2px solid;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(246, 206, 206, 0.5);
    border-image: linear-gradient(to bottom, #D273FF, #8DFD8B) 1;
}

.edit-box .p-dialog-header{
    background-color: transparent;
    padding: 3px;
}

.edit-box .p-dialog-content{
    background-color: #0a0b16;
    box-shadow: 0 0 10px rgba(246, 206, 206, 0.5);
    color: white;
    padding: 3%;
}

.edit-box .p-dialog-content input{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
    color: white;

}

.edit-box .p-dialog-content textarea{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.edit-box .btn{
    margin-left: 5%;
    margin-right: 5%;
}

.edit-box .btn-success{
    min-width: 8rem;
    border-radius: 5px;
    background-color: transparent;
    color: #32CD32;
    font-weight: bold;
    border: 2px solid #32CD32;
    padding: 7px;
}

.edit-box .btn-success:hover{
    background-color: #32CD32;
    color: white;
}

.edit-box .btn-danger{
    min-width: 8rem;
    border-radius: 5px;
    background-color: transparent;
    color: #FF6347;
    font-weight: bold;
    border: 2px solid #FF6347;
    padding: 7px;
}

.edit-box .btn-danger:hover{
    background-color: #FF6347;
    color: white;
}