/* Login.css */
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 87px); /* Ajusta a altura para excluir a altura da navbar */
  background-color: transparent; /* Permite que a cor de fundo global apareça */
}

.login-container {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 400px;
}

.coinBackgroundLogin {
  background-image: url('../../public/images/background-image-login.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.login-container h2 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.login-container .form-group {
  position: relative;
  margin-bottom: 20px;
}

.login-container .input-icon {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 2px solid #8DFD8B;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  color: #8DFD8B;
}

.login-container .input-icon input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #8DFD8B;
  font-size: 1rem;
  flex: 1;
}

.login-container .input-icon input::placeholder {
  color: #8DFD8B;
}

.login-container .input-icon svg {
  margin-right: 10px;
  color: #8DFD8B;
}

.login-container .form-options{
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.login-container .form-check-label {
  color: white;
}

.login-container .form-check-input {
  background-color: transparent;
  border: 2px solid #8DFD8B;
}

.login-container .forgot-password {
  color: white;
  text-decoration: none;
}

.login-container .forgot-password:hover {
  text-decoration: underline;
}

.login-container .btn {
  width: 100%;
  border-radius: 5px;
  background-color: transparent;
  color: #D273FF;
  font-weight: bold;
  border: 2px solid #D273FF;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.login-container .btn:hover {
  background-color: #D273FF;
  border-color: #D273FF;
  color: white;
}

.login-container .signup-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.login-container .dont-have-account {
  color: white;
}

.login-container .sign-up {
  color: #8DFD8B;
  text-decoration: none;
}

.login-container .sign-up:hover {
  text-decoration: underline;
}
