.m-test-box{
    background-color: var(--background-color-1);
    padding: 1%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(246, 206, 206, 0.5);
    width: 80%;
    margin: auto;
    color: white;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

@media (max-width: 900px){
    .m-test-box{
        width: 90%;
    }
}

.accordion-h{
    background-color: var(--background-color-2);
    color: white;
    border: none;
    padding: 10px;
    text-decoration: none;
}

.m-test-box .p-accordion-content{
    border: none;
    background-color: var(--background-color-2);
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
    margin-bottom: 2%;
    box-shadow: 0 9px 18px 0 rgba(0,0,0,0.8);
}

.m-test-box .dbuttons-danger{
    min-width: 3rem;
    padding: 7px;
    font-size: larger;
}

.dropdown-buttons{
    color: white;
}

.dropdown-buttons:hover{
    color: var(--background-color-1);
    background-color: white;
}

.dropdown-buttons:active{
    color: var(--background-color-1);
    background-color: white;
}

.m-quest-box{
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 2%;
    background-color: var(--background-color-3);
    color: white;
    box-shadow: 0 9px 18px 0 rgba(0,0,0,0.8);
}