/* navbar.css */
.navbar {
  width: 100%;
  height: 87px;
  background-color: rgba(0, 0, 0, 0.8) !important; /* Preto com 80% de opacidade */
  display: flex;
  align-items: center;
  align-self: start;
  padding: 0 20px; /* Diminui o padding nas laterais */
  box-sizing: border-box; /* Garante que o padding seja incluído na largura total */
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-family: 'Inter', sans-serif;
  z-index: 1000; /* Garante que a navbar fique acima de outros elementos */
  min-width: 620px; /* Define uma largura mínima para a navbar */
}

.navbar .nav-link {
  color: white !important;
  font-size: 18px;
  font-weight: 800;
  position: relative;
  padding: 0 10px;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
}

.navbar .nav-link.active::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -8px;
  left: 0;
  background-color: #d273ff;
  height: 3.9px;
}

.navbar .nav-link:hover {
  color: #d273ff !important;
  border-bottom: 2px solid #d273ff;
}

.expanded-menu{
  display: none;
}

@media (min-width: 1200px){
  .expanded-menu{
    display: flex;
  }
}

.collapsed-menu{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  margin-right: 5px;
  max-width: 65px;
}

@media (max-width: 1200px){
  .collapsed-menu{
    display: flex;
  }
}

.collapsed-menu .dropdown-menu{
  bottom: auto;
}

.collapsed-menu .dropdown-toggle::after{
  display: none !important;
}

.collapsed-menu .dropdown-item{
  font-size: calc(20px + 1.2vw);
}

.searchSection {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-left: auto; /* Move a barra de pesquisa para a direita */
  flex-grow: 0; /* Impede que a barra de pesquisa cresça demais */
  max-width: 300px; /* Define uma largura máxima para a barra de pesquisa */
  
}

.searchInput {
  height: 40px; 
  width: 100%; /* Faz com que a barra de pesquisa ocupe toda a largura disponível dentro do seu container */
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #E2E2E2;
  background: rgba(217, 217, 217, 0.3);
  color: white;
}

.search-btn{
  background-color: #D273FF;
  padding: 6px 12px;
  color: white;
  margin-left: 8px;
  border-radius: 8px;
}

.search-btn:hover{
  background-color: #5dbc5b;
  scale: 1.1;
  transition: 0.5s;
}

.searchInput::placeholder {
  color: white;
  font-weight: 300;
  padding-left: 10px;
}

.signIn, .signUp {
  color: white !important;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s, border 0.3s;
  display: inline-flex; /* Garante que os botões fiquem em linha */
  align-items: center;
  justify-content: center;
  white-space: nowrap; /* Impede quebra de linha dentro dos botões */
}

.signIn:hover, .signUp:hover {
  text-decoration: none;
  color: #d273ff !important;
}

.signUp {
  border: 2px solid white; /* Borda branca visível o tempo todo */
  padding: 5px 20px; /* Ajuste o padding para criar mais espaço */
  background: transparent; /* Fundo transparente */
  /*margin-left: 10px; /* Adiciona espaço entre Sign In e Sign Up */
}

.signUp:hover {
  border-color: #d273ff;
  background: transparent; /* Mantém o fundo transparente no hover */
}

.userAvatar {
  width: 40px;
  height: 40px;
}

.user-menu {
  color: white;
}

.user-menu .dropdown-menu {
  right: 0 !important;
  left: auto !important;
}

.navbar .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.8) !important; /* Preto com 80% de opacidade */
  border: none; /* Remove a borda padrão */
  border-radius: 8px; /* Aplica bordas arredondadas */
}

.navbar .dropdown-menu .dropdown-item {
  color: white !important; /* Define a cor do texto como branca */
}

.navbar .dropdown-menu .dropdown-item:hover {
  background-color: rgba(210, 115, 255) !important; /* Cor de fundo rosa com 80% de opacidade ao passar o mouse */
  color: white !important; /* Cor do texto ao passar o mouse */
}

.notification-toggle::after {
  display: none !important; /* Remove a seta, garantido com !important */
}

.notification-badge {
  position: absolute;
  top: -5px; /* Levanta o badge acima do sino */
  right: -10px; /* Move o badge mais para a direita */
  font-size: 0.5rem; /* Reduz ainda mais o tamanho do texto */
  padding: 2px 4px; /* Diminui o padding para tornar o badge menor */
  border-radius: 50%; /* Garante que o badge seja circular */
  min-width: 18px; /* Define uma largura mínima para o badge */
  min-height: 18px; /* Define uma altura mínima para o badge */
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-item .btn-link {
  padding: 0;
  color: #007bff;
  text-decoration: none;
}

@keyframes slideDown {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 500px;
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    max-height: 500px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    opacity: 0;
  }
}

.dropdown-menu.show {
  display: block;
  animation: slideDown 0.5s ease-in-out;
}

.dropdown-menu.hide {
  display: block;
  animation: slideUp 0.5s ease-in-out;
  max-height: 0;
  overflow: hidden;
}

.btn-chat {
  background-color: transparent;
  color: rgb(44, 113, 250);
  border: none;
  font-size: 18px;
  font-weight: 600;
}

.btn-chat:hover {
  color: rgb(10, 86, 238);
}

/*ChatBox part*/

.chatbox-panel{
  /*Local CSS variables*/
  --chatbox-panel-background-color: #180738;

  margin-top: 2%;
  background-color: var(--chatbox-panel-background-color);
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 1500;
  box-shadow: 0 9px 18px 0 rgba(0,0,0,0.8);
  position: fixed;
}

.p-overlaypanel{
  min-height: fit-content;
  margin-left: 45px;
  margin-right: 45px;
}

.p-overlaypanel-content{
  width: 70vw;
  height: 600px;
}

@media (max-width: 800px){
  .p-overlaypanel-content{
    width: 80vw;
  }
}

.p-overlaypanel-close{
  background-color: var(--chatbox-panel-background-color);
  border-radius: 50%;
  box-shadow: 0 3px 9px 0 rgba(0,0,0,0.8);
}

.p-overlaypanel-close:hover {
  scale: 1.1;
  box-shadow: 0 9px 18px 0 rgba(0,0,0,0.8);
}

.p-overlaypanel.p-overlaypanel::before {
  content: none;
}
.p-overlaypanel.p-overlaypanel::after {
  content: none;
}

/*Various*/

.collapse-icon{
  color: white;
  scale: 1.5;
}

.collapse-icon:hover{
  scale: 1.6;
}