/* Navbar.css */
.navbar {
  width: 100%;
  position: relative;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  height: 87px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-family: Inter, sans-serif;
}

.tabOne {
  position: absolute;
  height: 100%;
  width: 15.44%;
  top: 0%;
  left: 0%;
  font-weight: 800;
  display: inline-block;
}

.tabOne1 {
  position: absolute;
  height: 100%;
  width: 15.44%;
  top: 0%;
  left: 21.16%;
  font-weight: 800;
  display: inline-block;
}

.tabOne2 {
  position: absolute;
  height: 100%;
  width: 15.44%;
  top: 0%;
  left: 42.32%;
  font-weight: 800;
  display: inline-block;
}

.tabOne3 {
  position: absolute;
  height: 100%;
  width: 15.44%;
  top: 0%;
  left: 63.49%;
  font-weight: 800;
  display: inline-block;
}

.tabOne4 {
  position: absolute;
  height: 100%;
  width: 15.44%;
  top: 0%;
  left: 84.57%;
  font-weight: 800;
  display: inline-block;
}

.navLink {
  position: absolute;
  height: 27.82%;
  width: 27.63%;
  top: 35.63%;
  right: 69.88%;
  bottom: 36.55%;
  left: 2.5%;
}

.inputbuscarChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 4px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.buscar {
  position: absolute;
  height: 32.37%;
  width: 46.79%;
  top: 31%;
  left: 15.5%;
  font-weight: 300;
  display: flex;
  align-items: center;
  mix-blend-mode: overlay;
}

.inputbuscar {
  position: absolute;
  height: 47.59%;
  width: 23.52%;
  top: 25.57%;
  right: 17.83%;
  bottom: 26.84%;
  left: 58.65%;
  text-align: left;
  font-size: 20px;
}

.botoPrimrio {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 8px;
  background-color: rgba(217, 217, 217, 0);
  border: 1px solid #fff;
  box-sizing: border-box;
}

.signUp {
  position: absolute;
  height: 40%;
  width: 51.36%;
  top: 30.03%;
  left: 24.78%;
  font-weight: 600;
  display: inline-block;
}

.botaosignup {
  position: absolute;
  height: 65.52%;
  width: 7.49%;
  top: 15.73%;
  right: 2.91%;
  bottom: 18.75%;
  left: 89.6%;
}

.signIn {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  font-weight: 600;
  display: inline-block;
}

.botaosignin {
  position: absolute;
  height: 26.21%;
  width: 3.16%;
  top: 35.41%;
  right: 13.09%;
  bottom: 38.39%;
  left: 83.75%;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
}

.navbar-dark .navbar-brand {
  color: white;
  font-size: 24px;
  font-family: 'Inter', sans-serif;
}
