.navbar {
  width: 100%;
  height: 87px;
  background-color: rgba(0, 0, 0, 0.7); /* Preto com 70% de opacidade */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  padding-left: 35px;
  padding-right: 35px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-family: 'Inter', sans-serif;
}

.navLinks {
  display: flex;
  gap: 20px;
}

.tab {
  color: white;
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  position: relative;
}

.tab.active::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -8px; /* Ajuste conforme necessário para criar espaço */
  left: 0;
  background-color: #d273ff;
  height: 3.9px;
}

.tab:hover::after {
  width: 100%;
}

.authSection {
  display: flex;
  align-items: center;
  gap: 20px;
}

.searchSection {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.searchInput {
  height: 40px; 
  width: 400px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #E2E2E2;
  background: rgba(217, 217, 217, 0.3);
  color: white;
}

.searchInput::placeholder {
  color: white;
  font-weight: 300;
  padding-left: 10px  ;
}

.authButtons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.signIn, .signUp {
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.signUp {
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 4px;
}

.userIcon {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.userImage, .userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.userMenu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  padding: 10px;
  text-align: left;
  width: 200px; /* Aumenta a largura do menu */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.userMenu .menuItem {
  display: flex;
  align-items: center;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
}

.userMenu .menuItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.userMenu .menuItem i {
  margin-right: 10px;
}

.userMenu::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 10px;
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.9) transparent;
}

.App {
  background-color: #191A2E;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
