.password-requirements{
    color: #8DFD8B;
    font-size: calc(20px + 0.1vw);
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: fit-content;
    align-self: center;
}

.bi-eye:hover{
    cursor: pointer;
    scale: 1.1;
}

.bi-eye-slash:hover{
    cursor: pointer;
    scale: 1.1;
}

.bi-question-circle:hover{
    cursor: pointer;
    scale: 1.1;
}