/* PlanCard.css */

.plan-card {
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid #8DFD8B;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  height: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s;
  position: relative; /* For admin icons */
}

.plan-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
}

.plan-card.highlight {
  border-color: #FFD700;
  background-color: rgba(40, 40, 40, 0.9);
  color: #FFD700;
  transform: scale(1.05);
}

.plan-card.highlight:hover {
  transform: scale(1.08) translateY(-10px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
}

.plan-card.current-plan {
  border-color: #007bff;
  background-color: rgba(30, 30, 30, 0.95);
  color: #007bff;
}

.current-plan-badge {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  font-size: 0.9em;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  font-size: 2em;
  color: #8DFD8B;
}

.plan-title {
  font-size: 1.5em;
  margin: 10px 0;
  text-align: center;
  color: inherit;
}

.description {
  font-size: 1em;
  margin: 10px 0;
  color: inherit;
}

.features {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.features li {
  margin: 5px 0;
  display: flex;
  align-items: center;
  color: inherit;
}

.feature-icon {
  margin-right: 8px;
  color: #8DFD8B;
}

.features.unavailable .feature-icon {
  color: #ff6b6b;
}

.features.unavailable li {
  opacity: 0.5;
  color: inherit;
}

.price {
  font-size: 1.2em;
  margin: 20px 0;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
}

.buy-button {
  background-color: #D273FF;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: auto;
  align-self: center;
  transition: background-color 0.3s, color 0.3s;
}

.buy-button:hover {
  background-color: #8DFD8B;
  color: black;
}

.plan-card.highlight .buy-button {
  background-color: #FFD700;
  color: black;
}

.plan-card.highlight .buy-button:hover {
  background-color: #8DFD8B;
  color: white;
}

/* Dimmed style for other plans when a current plan is selected */
.dimmed {
  opacity: 0.6;
  transform: scale(0.95);
  pointer-events: none;
}

.dimmed:hover {
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Information for current plan */
.current-plan-info {
  margin-top: 10px;
  color: #28a745;
  font-weight: bold;
}
