/* PlanCard.css */

.plan-card {
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid #8DFD8B;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  height: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative; /* Para posicionar os ícones de admin */
}

.plan-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
}

.plan-card.highlight {
  border-color: #FFD700;
  background-color: rgba(40, 40, 40, 0.9);
  color: #FFD700;
  transform: scale(1.05);
}

.plan-card.highlight:hover {
  transform: scale(1.08) translateY(-10px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
}

.admin-icons {
  position: absolute;
  top: 10px;
  right: 10px;
}

.edit-icon,
.delete-icon {
  color: #ffd700;
  cursor: pointer;
  margin-left: 10px;
}

.edit-icon:hover,
.delete-icon:hover {
  color: #ffdd57;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  font-size: 2em;
  color: #8DFD8B;
}

.plan-title {
  font-size: 1.5em;
  margin: 10px 0;
  text-align: center;
  color: inherit;
}

.description {
  font-size: 1em;
  margin: 10px 0;
  color: inherit;
}

.features {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.features li {
  margin: 5px 0;
  display: flex;
  align-items: center;
  color: inherit;
}

.feature-icon {
  margin-right: 8px;
  color: #8DFD8B;
}

.features.unavailable .feature-icon {
  color: #ff6b6b;
}

.features.unavailable li {
  opacity: 0.5;
  color: inherit;
}

.price {
  font-size: 1.2em;
  margin: 20px 0;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
}

.buy-button {
  background-color: #D273FF;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: auto;
  align-self: center;
}

.buy-button:hover {
  background-color: #8DFD8B;
  color: black;
}

.plan-card.highlight .buy-button {
  background-color: #FFD700;
  color: black;
}

.plan-card.highlight .buy-button:hover {
  background-color: #8DFD8B;
  color: white;
}
