.result-box{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(246, 206, 206, 0.5);
    width: 80%;
    margin: auto;
    color: white;
    margin-top: 4rem;
    margin-bottom: 4rem;
}