.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #191A2E;
  min-height: 100vh;
  color: white;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #191A2E;
}

.profile-container {
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border: 2px solid;
  border-image: linear-gradient(to bottom, #D273FF, #8DFD8B) 1;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #8DFD8B;
  margin-right: 30px;
}

.profile-info {
  flex-grow: 1;
}

.profile-name {
  font-size: 2rem;
  margin-bottom: 5px;
  color: #D273FF;
}

.profile-title {
  font-size: 1.2rem;
  color: #8DFD8B;
}

.profile-actions {
  display: flex;
  gap: 10px; /* Adiciona espaço entre os botões */
}

.edit-button, .add-button, .delete-button, .share-button, .download-button {
  background-color: transparent;
  color: #D273FF;
  font-weight: bold;
  border: 2px solid #D273FF;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.edit-button:hover, .add-button:hover, .delete-button:hover, .share-button:hover, .download-button:hover {
  background-color: #D273FF;
  color: white;
}

.profile-section {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #8DFD8B;
}

.profile-section h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.profile-section h3 .bi {
  font-size: 1.2rem;
  margin-right: 8px;
  color: white;
}

.profile-about-input,
.profile-education-input,
.profile-experience-input,
.profile-languages-input,
.profile-input {
  background-color: transparent;
  border: 2px solid #8DFD8B;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
  font-size: 1rem;
  width: 100%;
  margin-top: 10px;
  min-height: 40px;
}

.profile-array-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-array-item input {
  flex: 1;
  margin-right: 10px;
}

.save-button {
  background-color: #8DFD8B;
  color: black;
  font-weight: bold;
  border: 2px solid #8DFD8B;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.save-button:hover {
  background-color: #72c974;
}

.profile-section h3 .icon {
  font-size: 1.2rem;
  margin-right: 8px;
  color: white;
}

.profile-info-row .icon {
  font-size: 1rem;
  color: white;
  vertical-align: middle;
}

.education-item {
  margin-bottom: 20px;
}

.institution-name {
  font-weight: bold;
  font-size: 1.2rem;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.education-degree {
  font-size: 1rem;
  color: #ffffff;
  margin-left: 24px;
  display: flex;
  align-items: center;
}

.education-dates {
  font-size: 0.9rem;
  color: #cccccc;
  margin-left: 24px;
}

.profile-info-row {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

@media (max-width: 600px) {
  .profile-container {
    padding: 15px;
  }

  .profile-header {
    flex-direction: column;
    align-items: center;
  }

  .profile-photo {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .edit-button, .add-button, .delete-button, .share-button {
    width: 100%;
    justify-content: center;
  }
}
