/* Wallet.css */

/* Variáveis de Tema */
:root {
  --background-color: #1e1e1e;
  --text-color: #ffffff;
  --input-background: #d9d9d94d;
  --divider-color: #9c6bb4;
  --card-background: rgba(0, 0, 0, 0.25);
  --button-border-color: #8dfd8b;
  --select-background: rgba(0, 0, 0, 0.8);
  --pagination-background: rgba(0, 0, 0, 0.5);
  --pagination-active-background: #9c6bb4;
  --card-hover-shadow: rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.coinBackgroundWallet {
  background-image: url('../../public/images/background-image-wallet.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 150%; 
  z-index: 0;
}

.wallet-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wallet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 30px;
  max-width: 1400px;
  margin: 0 auto;
  position: relative; /* Adicionado */
  z-index: 1;
}

.wallet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.wallet-search-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.wallet-search {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid var(--text-color);
  background-color: var(--input-background);
  width: 250px;
  color: var(--text-color);
}

.wallet-order {
  display: flex;
  align-items: center;
  color: var(--text-color);
  margin-top: 10px;
}

.wallet-select {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: 10px;
  background-color: var(--select-background);
  color: var(--text-color);
  appearance: none;
  padding-right: 30px;
  position: relative;
}

.wallet-select::after {
  content: '▼';
  position: absolute;
  right: 10px;
  pointer-events: none;
  color: var(--text-color);
}

.wallet-info {
  margin-bottom: 10px;
  font-size: 1.25rem;
  color: var(--text-color);
  text-align: left;
  width: 100%;
}

.wallet-divider {
  width: 100%;
  height: 2px;
  background-color: var(--divider-color);
  margin-bottom: 20px;
}

.wallet-medals {
  background-color: var(--card-background); 
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 100%;
}

.wallet-medal-slide {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  width: 100%;
  min-width: 200px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.wallet-medal-slide .wallet-medal-card {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  text-align: center;
  width: 200px;
  min-height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 10px;
  overflow: hidden;
  border-radius: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 10px auto;
  position: relative;
}

.wallet-medal-slide .wallet-medal-card h3 {
  flex-grow: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px; 
  word-break: break-word; 
  min-height: 60px;
  overflow: hidden; 
  text-overflow: ellipsis; 
}

/* Animação Fade-In e Slide-Up */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*badge card no card.css*/
.wallet-medal-card {
  background-color: var(--card-background);
  color: var(--text-color);
  text-align: center;
  width: 200px;
  min-height: 210px;
  margin: 10px;
  margin: 10px auto;  
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  animation: fadeInUp 0.5s ease forwards;
}

.wallet-medal-card:nth-child(3n+1) { animation-delay: 0.1s; }
.wallet-medal-card:nth-child(3n+2) { animation-delay: 0.2s; }
.wallet-medal-card:nth-child(3n+3) { animation-delay: 0.3s; }

.wallet-medal-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px var(--card-hover-shadow);
}

.wallet-medal-card .medal-img {
  width: calc(100% - 20px);
  border-radius: 8px;
  height: 180px;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 10px;
}

.wallet-medal-card h3 {
  font-size: 1rem;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.wallet-medal-card button {
  padding: 10px 20px;
  font-size: 1rem;
  border: 2px solid var(--button-border-color);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--text-color);
  cursor: pointer;
  transition: background 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.wallet-medal-card button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Estilos para a paginação */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  padding: 8px 12px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  background-color: var(--pagination-background);
  color: var(--text-color);
  cursor: pointer;
}

.pagination-button.active {
  background-color: var(--pagination-active-background);
  font-weight: bold;
}

.pagination-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Estilos para o seletor de itens por página */
.items-per-page-select {
  padding: 8px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid var(--text-color);
  background-color: var(--select-background);
  color: var(--text-color);
  margin-left: 15px;
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 1200px) {
  .wallet-medal-card {
    width: calc(33.333% - 20px);
  }
}

@media (max-width: 992px) {
  .wallet-medal-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .wallet-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .wallet-search {
    width: 100%;
    margin-bottom: 10px;
  }

  .wallet-medal-card {
    width: calc(100% - 20px);
  }
}
