body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-size: cover;
}

.workflow-page {
  display: flex;
  flex-direction: column;
  min-height: 725px;
}

.workflow-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.workflow-title {
  font-family: 'Inter', sans-serif;
  font-size: 3rem; 
  font-weight: 800;
  line-height: 1.2; 
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

.workflow-subtitle {
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem; 
  font-weight: 400;
  line-height: 1.2; 
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.workflow-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  margin: 50px 0;
}
 
.workflow-container-adm {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1200px;
  margin: 50px auto;
  border-radius: 8px;
  margin-bottom: 10000px;
}

.workflow-title-adm {
  font-family: 'Inter', sans-serif;
  font-size: 3rem; 
  font-weight: 800;
  line-height: 1.2; 
  text-align: justify;
  color: white;
  font-weight: bold;
}

.workflow-section-adm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  margin: 30px 0;
}

.workflow-input-icon input[type="file"] {
  display: none; 
}

.workflow-input-icon .custom-file-upload {
  background-color: transparent;
  border: none;
  outline: none;
  color: #8DFD8B;
  font-size: 1rem;
  flex: 1;
}

.workflow-input-icon input:focus {
  border-color: #8DFD8B;
  box-shadow: 0 0 5px #8DFD8B; 
  outline: none;
}

.workflow-input-icon input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #8DFD8B;
  font-size: 1rem;
  flex: 1;
}

.workflow-input-icon {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 2px solid #8DFD8B;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  color: #8DFD8B;
}

.workflow-badge-card {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  text-align: center;
  width: 200px;
  min-height: 210px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 10px auto;
  border-radius: 15px;
}

.workflow-badge-card .workflow-badge-preview {
  border-radius: 8px;
  height: 180px;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 10px;
}

.workflow-badge-card h3 {
  font-size: 0.9rem;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.workflow-form-group {
  position: relative;
  margin-bottom: 20px;
}

.workflow-form-label {
  color: white;
}

.workflow-input-icon textarea {
  background-color: transparent;
  border: none;
  outline: none;
  color: #8DFD8B;
  font-size: 1rem;
  flex: 1;
}

.workflow-input-icon textarea::placeholder {
  color: #8DFD8B;
}

.workflow-input-icon textarea:focus {
  background-color: transparent;
  border-color: #8DFD8B; 
  color: #8DFD8B;
  box-shadow: 0 0 5px #8DFD8B; 
  outline: none; 
}

.workflow-input-icon input[type="text"]:-webkit-autofill,
.workflow-input-icon input[type="text"]:-webkit-autofill:hover,
.workflow-input-icon input[type="text"]:-webkit-autofill:focus,
.workflow-input-icon input[type="text"]:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.8) inset !important; 
  -webkit-text-fill-color: #8DFD8B !important; 
  -webkit-border-image: 8px;
}

.workflow-request-details h4 {
  color: white;
  font-size: 1rem;
}

.workflow-request-details p {
  color: #8DFD8B;
  font-size: 0.9rem;
}

.workflow-request-details ul li {
  color: #8DFD8B;
  font-size: 0.9rem;
}

@media (max-width: 1200px) {
  .workflow-container {
    padding: 15px;
  }

  .workflow-container-adm {
    padding: 15px;
  }

  .workflow-title {
    font-size: 2.5rem;
  }

  .workflow-title-adm {
    font-size: 2.5rem;
  }

  .workflow-subtitle {
    font-size: 0.7rem;
  }
}

@media (max-width: 768px) {
  .workflow-container {
    flex-direction: column;
    padding: 10px;
  }

  .workflow-container-adm {
    flex-direction: column;
    padding: 10px;
  }

  .workflow-title {
    font-size: 2rem;
  }

  .workflow-title-adm {
    font-size: 2rem;
  }

  .workflow-subtitle {
    font-size: 0.55rem;
  }
}

@media (max-width: 510px) {
  .workflow-container {
    padding: 5px;
  }

  .workflow-container-adm {
    padding: 5px;
  }

}