.workflow-card {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  color: white;
  text-align: center;
  flex: 0 0 calc(20% - 20px);
  max-width: 317px;
  min-width: 200px;
  min-height: 200px;
  padding: 20px;  
  margin: 10px;
  pointer-events: none;
  opacity: 0.5;
  border-radius: 15px;
}

.workflow-card-active {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  color: white;
  text-align: center;
  flex: 0 0 calc(20% - 20px);
  max-width: 317px;
  min-width: 200px;
  padding: 20px; 
  margin: 10px;
  border-radius: 15px;
}

.workflow-card i.workflow-icon {
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
}

.workflow-card-active i.workflow-icon {
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
}

.workflow-card h3 {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 33.89px;
  color: white;
  margin-bottom: 10px;
  text-align: left;
}

.workflow-card-active h3 {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 33.89px;
  color: white;
  margin-bottom: 10px;
  text-align: left;
}

.workflow-card p {
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 10px;
  text-align: left;
}

.workflow-card-active p {
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 10px;
  text-align: left;
}

.workflow-card-adm {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center; 
  flex-direction: column;
  max-width: 1200px;
  min-width: 400px;
  padding: 20px;  
  margin: auto;
  pointer-events: none;
  opacity: 0.5;
  border-radius: 15px;
}

.workflow-card-adm-active {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center; 
  flex-direction: column;
  max-width: 1200px;
  min-width: 400px;
  padding: 20px;
  margin: auto;
  position: relative;
  border-radius: 15px;
}

.workflow-card-adm i.workflow-icon-adm {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.workflow-card-adm-active i.workflow-icon-adm {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.workflow-card-adm h3 {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 33.89px;
  color: white;
  margin-left: -30px;
  text-align: justify;  
}

.workflow-card-adm-active h3 {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 33.89px;
  color: white;
  margin-left: -30px;
  text-align: justify;  
}

.workflow-card-adm p {
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 10px;
  margin-left: -30px; 
  text-align: justify;
}

.workflow-card-adm-active p {
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 10px;
  margin-left: -30px; 
  text-align: justify;
}

.button-card{
  background-color:rgba(255, 255, 255, 0);
  border: 2px solid;
  border-color: #8DFD8B;
  border-radius: 8px;
  padding: 10px 20px;
  font-family: 'Inter', sans-serif;  
  font-size: 1.2rem;
  color:#8DFD8B;
  min-height: 40px;
  min-width: 800px;
  cursor: pointer;
}

.button-card:hover {
  background-color: #8DFD8B; 
  border-color: rgba(255, 255, 255, 0);
  color: rgb(0, 0, 0); 
}

.warning-icon-container {
  position: absolute;
  top: 30px;
  right: 90px;
}

.warning-icon {
  color: #ffcc00;
  cursor: pointer;
  margin-left: 10px;
  font-size: 30px;
}

.eye-icon-container {
  position: absolute;
  top: 30px;
  right: 30px;
}

.eye-icon {
  color: #D273FF;
  cursor: pointer;
  margin-left: 10px;
  font-size: 30px;
}

.workflow-feedback-item {
  margin-bottom: 10px; /* Ajuste conforme necessário */
}

.workflow-feedback-item p {
  margin: 0;
  padding: 0;
  color: white;
}

@media (max-width: 510px) {
  .workflow-card {
    margin: 10px auto;
  }
}